<% layout('layouts/boilerplate') %>
    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="col-6 border py-1 rounded">
                <div class=" "><p class="m-1">Username: </p></div>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-6 border py-1 rounded">
                <div class=""><p class="m-1">Email: </p></div>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-2 border border-end-0 py-1  rounded">
                <div class="inline-flex"><p class="m-1">Password: </p></div> 
            </div>
            <div class="col-2 border border-start-0 border-end-0 py-1 rounded">
                <button class="btn me-auto border">Show Password</button>
            </div>
            <div class="col-2 border border-start-0 py-1 rounded">
                <button class="btn me-auto border">Change Password</button>
            </div>
        </div>

    </div>